{% extends "base.html" %}
{% block title %}Lista — Mi App Flask{% endblock %}
{% block content %}
  <h2>Usuarios registrados</h2>
  {% if usuarios %}
    <table class="table">
      <thead>
        <tr><th>Nombre</th><th>Edad</th><th>Condición</th></tr>
      </thead>
      <tbody>
        {% for u in usuarios %}
          <tr>
            <td>{{ u.nombre }}</td>
            <td>{{ u.edad }}</td>
            <td>{% if u.edad|int >= 18 %}Mayor de edad{% else %}Menor de edad{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay usuarios aún.</p>
  {% endif %}
{% endblock %}
